@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&display=swap");
body {
  background-color: #ffffff;
  font-family: "Mulish", sans-serif;
}

.mt-10 {
  margin-top: 100px;
}

.mt-64 {
  margin-top: 4rem;
}

.top_header {
  background: var(--main-gray, #414142);
  height: 64px;
  display: flex;
  place-items: center;
}
.top_header a {
  color: white;
}
.top_header .info_contact {
  display: flex;
  flex-wrap: wrap;
}
.top_header .d-flex {
  align-items: center;
}

nav {
  min-height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  place-items: center;
}
@media (max-width: 480px) {
  nav .mob_btn_text {
    text-align: end;
  }
}
nav .mob_menu {
  display: flex;
  justify-content: space-between;
}
nav .mob_menu .menu_btn {
  display: none;
}
@media (max-width: 480px) {
  nav .mob_menu .menu_btn {
    display: block;
  }
}
nav .nav_ul {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 26px;
}
@media (max-width: 480px) {
  nav .nav_ul {
    position: absolute;
    padding: 20px !important;
    left: -100%;
    flex-direction: column;
    width: 98%;
    transition: left 0.3s;
    top: 64px;
    z-index: 99999;
    border-radius: 0px 4px 4px 0px;
    background: var(--main-white, #FFF);
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.05);
  }
}
nav .nav_ul li {
  list-style: none;
}
nav .nav_ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #292929;
}
nav .nav_ul li a:hover {
  color: #AC2129;
  text-decoration: blink;
}
nav .nav_ul .dop_info_menu {
  display: none;
}
@media (max-width: 480px) {
  nav .nav_ul .dop_info_menu {
    display: block;
  }
}
nav .close_btn {
  display: none;
}
@media (max-width: 480px) {
  nav .close_btn {
    display: block;
  }
}
nav .active {
  top: 64px;
  position: fixed;
  left: 0;
  transition: left 0.5s;
}
nav .close_btn {
  position: absolute;
  top: 0;
  right: 0;
}

.slide-body {
  top: 10%;
  left: 0;
  text-align: start;
}

.video_box {
  display: block;
  position: relative;
  height: 90vh;
  overflow: hidden;
}
@media (max-width: 768px) {
  .video_box {
    height: auto;
    width: 100%;
    margin-top: 20px;
  }
}
.video_box #myVideo {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
@media (max-width: 768px) {
  .video_box #myVideo {
    position: relative;
    width: 100%;
  }
}
.video_box .content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.31);
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.modal_menu {
  z-index: 9999;
  border-radius: 0px 0px 4px 4px;
  background: #FFF;
  position: absolute;
  min-width: 100%;
  height: 595px;
  flex-shrink: 0;
  top: 31px;
  padding: 40px 48px 84px 48px;
}

#modalBtn {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #292929;
}
#modalBtn:hover {
  color: #AC2129;
}

.hide {
  display: none;
  position: relative;
}

.modal_menu_box {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 57px;
}
.modal_menu_box a {
  color: #000;
  width: 45%;
  height: auto;
  font-size: 16px;
  line-height: 132%;
}
.modal_menu_box a:hover {
  color: var(--main-red, #AC2129);
  text-decoration: none;
}

.logo_port {
  display: flex;
  gap: 47px;
}
@media (max-width: 1170px) {
  .logo_port {
    flex-wrap: wrap;
  }
}
@media (max-width: 850px) {
  .logo_port {
    flex-wrap: nowrap;
    overflow: scroll;
  }
}

.num_box_scrol {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  width: 100%;
}
@media (max-width: 768px) {
  .num_box_scrol {
    flex-wrap: nowrap;
    overflow: scroll;
  }
}
.num_box_scrol .project {
  flex: 1 31%;
  position: relative;
}
@media (max-width: 768px) {
  .num_box_scrol .project {
    flex: 1 0 325px;
    height: 433px;
  }
}
.num_box_scrol .project .project_body {
  display: flex;
  background-color: #292929;
  border-radius: 8px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
@media (max-width: 768px) {
  .num_box_scrol .project .project_body {
    bottom: 62px;
    height: 111px;
  }
}
.num_box_scrol .project .project_body .project_body_box {
  display: flex;
  place-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 111px;
  height: 111px;
  background-color: rgb(196, 127, 135);
}
@media (max-width: 768px) {
  .num_box_scrol .project .project_body .project_body_box {
    min-width: 30%;
    height: auto;
  }
}
.num_box_scrol .project .project_body .project_body_box strong {
  color: white;
  font-size: 56px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .num_box_scrol .project .project_body .project_body_box strong {
    font-size: 1.5rem;
  }
}
.num_box_scrol .project .project_body .project_body_text {
  display: flex;
  place-items: center;
}
.num_box_scrol .project .project_body .project_body_text p {
  color: #FFF;
  font-size: 22px;
}

.project_full {
  position: relative;
}
@media (max-width: 768px) {
  .project_full {
    flex: 1 0 325px;
    height: 433px;
  }
}
.project_full .project_body {
  display: flex;
  background-color: #292929;
  border-radius: 8px;
  position: absolute;
  max-width: 100%;
  right: 0;
  bottom: 0;
}
@media (max-width: 768px) {
  .project_full .project_body {
    bottom: 62px;
    height: 111px;
  }
}
.project_full .project_body .project_body_box {
  width: 213px;
}
@media (max-width: 768px) {
  .project_full .project_body .project_body_box {
    min-width: 30%;
    height: auto;
  }
}
.project_full .project_body .project_body_text {
  width: 14rem;
}
.project_full .project_body_box {
  display: flex;
  place-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 111px;
  height: 111px;
  background-color: rgb(196, 127, 135);
}
.project_full .project_body_box strong {
  color: white;
  font-size: 56px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .project_full .project_body_box strong {
    font-size: 1.5rem;
  }
}
.project_full .project_body_text {
  display: flex;
  place-items: center;
}
.project_full p {
  color: #FFF;
  font-size: 22px;
}

.footer {
  background: var(--main-gray, #414142);
  font-size: 16px;
  color: #FFF;
}
.footer .list-group {
  gap: 24px;
}
.footer .list-group a {
  color: #FFF;
}
.footer .social {
  display: flex;
  gap: 32px;
}
.footer .social img {
  width: 32px;
}
.footer .col-md-4 {
  margin-top: 20px;
}

.hideMenu {
  display: block;
}
@media (max-width: 480px) {
  .hideMenu {
    display: none;
  }
}

.menu_drop {
  display: none;
}
@media (max-width: 480px) {
  .menu_drop {
    display: block;
  }
}

.paginations {
  background: var(--main-gray, #414142);
  height: 4rem;
  color: #FFF;
  display: flex;
  place-items: center;
}
.paginations h1 {
  margin-bottom: 0;
}

.nav-pills > li {
  margin-bottom: 10px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: var(--main-red, #AC2129);
}

.tabs_btn {
  padding: 16px 20px;
  border-radius: 4px;
  border: 1px solid var(--main-red, #AC2129);
  background: var(--main-white, #FFF);
  color: var(--main-black, #292929);
  font-size: 18px;
  font-weight: 500;
  line-height: 132%;
}

.project_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project_box .projects_item {
  max-width: 100%;
  height: 400px;
  border-radius: 4px;
  padding: 24px;
  overflow: hidden;
  position: relative;
  margin-bottom: 24px;
}
.project_box .projects_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.project_box .projects_item:nth-child(1n+0) {
  width: 39%;
}
@media (max-width: 768px) {
  .project_box .projects_item:nth-child(1n+0) {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .project_box .projects_item:nth-child(1n+0) {
    width: 100%;
  }
}
.project_box .projects_item:nth-child(2n+0) {
  width: 59%;
}
@media (max-width: 768px) {
  .project_box .projects_item:nth-child(2n+0) {
    width: 48%;
  }
}
@media (max-width: 480px) {
  .project_box .projects_item:nth-child(2n+0) {
    width: 100%;
  }
}
.project_box .projects_item:nth-child(3n+0) {
  width: 59%;
}
@media (max-width: 768px) {
  .project_box .projects_item:nth-child(3n+0) {
    width: 48%;
  }
}
@media (max-width: 480px) {
  .project_box .projects_item:nth-child(3n+0) {
    width: 100%;
  }
}
.project_box .projects_item:nth-child(4n+0) {
  width: 39%;
}
@media (max-width: 768px) {
  .project_box .projects_item:nth-child(4n+0) {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .project_box .projects_item:nth-child(4n+0) {
    width: 100%;
  }
}
.project_box .projects_item:nth-child(5n+0) {
  width: 100%;
}
@media (max-width: 768px) {
  .project_box .projects_item:nth-child(5n+0) {
    width: 48%;
  }
}
@media (max-width: 480px) {
  .project_box .projects_item:nth-child(5n+0) {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .project_box .projects_item:nth-child(6n+0) {
    width: 48%;
  }
}
@media (max-width: 480px) {
  .project_box .projects_item:nth-child(6n+0) {
    width: 100%;
  }
}
.project_box .projects_item_body {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  opacity: 0.8000000119;
  background: var(--main-black, #292929);
}
.project_box .projects_item_body p {
  padding: 24px;
  margin: 0;
  color: #FFF;
  font-size: 18px;
  line-height: 134%;
}
.map_contacts {
  max-height: 50%;
  overflow: hidden;
}

.contact_item {
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 0px 14px 0px rgba(166, 166, 166, 0.15);
  margin-bottom: 22px;
}
.contact_item .contact_item_body {
  padding: 22px;
}
.contact_item .contact_item_body_box {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 23px;
}
.contact_item .contact_item_body_box:last-child {
  margin-bottom: 0;
}
.contact_item .contact_item_body_box p {
  color: var(--main-black, #292929);
  font-size: 18px;
  margin: 0;
}
.contact_item .contact_item_body_box p a {
  color: #000;
}

.form_contact {
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(191, 191, 191, 0.25);
  padding: 32px;
  display: grid;
  gap: 16px;
}
.form_contact input,
.form_contact textarea {
  border-radius: 16px;
  background: #F5FBFF;
  border-color: #F5FBFF;
  padding: 16px 20px;
}
.form_contact input::-moz-placeholder, .form_contact textarea::-moz-placeholder {
  color: #7B7B7B;
}
.form_contact input::placeholder,
.form_contact textarea::placeholder {
  color: #7B7B7B;
}
.form_contact textarea {
  margin-bottom: 40px;
}
.form_contact button {
  border-radius: 4px;
  background: var(--main-red, #AC2129);
  width: 100%;
  padding: 16px 20px;
}

.text_500 {
  font-weight: 500;
  color: #292929;
  font-size: 18px;
  margin-bottom: 24px;
}/*# sourceMappingURL=main.css.map */